@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Sedan", serif;
}

body::-webkit-scrollbar {
    display: none;
}

#form::-webkit-scrollbar {
    display: none;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

/* Add this to your global CSS file or in a scoped CSS module */
#swap-genre::-webkit-scrollbar {
    height: 3px; /* Height of the scrollbar */
}
  
#swap-genre::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.5); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}
  
#swap-genre::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the scrollbar track */
}

.my-toast {
    z-index: 999999999999999999999;
    position: relative;
    margin-top: 70px;
    width: max-content;
}

.ask-title-delete {
    font-size: 22px;
}

.my-toast-auth {
    z-index: 999999999999999999999;
    position: relative;
    width: max-content;
}

.confirm-button {
    padding: 8px 36px;
}

.cancel-button {
    padding: 8px 36px;
}

.ask-popup {
    width: 30vw;
}

.ask-title {
    font-size: 1.6rem;
}